@model ASPNETCRUDO.Models.UpadateEmployeeViewModel;

@{
}
<h1>Edit Employee</h1>
<form method="post" action="View" class="mt-5 w-90">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" >
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Email address</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>

    

    <div class="mb-3">
        <label for="" class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="Salary">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div

    <div class="mb-3">
        <label for="" class="form-label">Department</label>
        <input type="text" class="form-control" asp-for="Department">
    </div>
   
      <button id="btns" type="submit" class="btn btn-primary">Submit</button>
      <button id="btns" type="submit" class="btn btn-danger"
      asp-action="Delete"
      asp-controller="Employees">Delete</button>
</form>

        <style>
            #btns{
                margin-left:120px;
            }


        </style>